<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light only" />
  <meta name="supported-color-schemes" content="light" />
  <title>오늘도골대FC</title>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- jQuery 로드 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/2QO/B6HFMFnJL2ZL1aAbAL8BnALyXQFZyI5lZ+"
    crossorigin="anonymous"></script>

  <link href="/main.css" rel="stylesheet">
  <link href="/introduce.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">
  <script src="/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script>



    // 스탯 부여하기 버튼을 클릭했을 때의 동작
    function handleStatAllocation() {
      var statNumElements = document.querySelectorAll('.introduce-stat-num');
      var inputAreaElements = document.querySelectorAll('.introduce-stat-inputarea');
      var cancleElements = document.querySelectorAll('.introduce-stat-canclebt');
      var inputbtElements = document.querySelectorAll('.introduce-stat-inputstatbt');
      var savebtElements = document.querySelectorAll('.introduce-stat-savebt');


      statNumElements.forEach(function (element) {
        element.style.display = 'none';
      });

      inputAreaElements.forEach(function (element) {
        element.style.display = 'block';
      });

      cancleElements.forEach(function (element) {
        element.style.display = 'inline-block';
      });

      inputbtElements.forEach(function (element) {
        element.style.display = 'none';
      });

      savebtElements.forEach(function (element) {
        element.style.display = 'block';
      });
    }

    // 취소하기 버튼을 클릭했을 때의 동작
    function handleCancelAllocation() {
      var statNumElements = document.querySelectorAll('.introduce-stat-num');
      var inputAreaElements = document.querySelectorAll('.introduce-stat-inputarea');
      var cancleElements = document.querySelectorAll('.introduce-stat-canclebt');
      var inputbtElements = document.querySelectorAll('.introduce-stat-inputstatbt');
      var savebtElements = document.querySelectorAll('.introduce-stat-savebt');

      statNumElements.forEach(function (element) {
        element.style.display = 'block';
      });

      inputAreaElements.forEach(function (element) {
        element.style.display = 'none';
      });

      cancleElements.forEach(function (element) {
        element.style.display = 'none';
      });

      inputbtElements.forEach(function (element) {
        element.style.display = 'inline-block';
      });

      savebtElements.forEach(function (element) {
        element.style.display = 'none';
      });
    }


    function sendPlayerInfo(playerInfo) {
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/statinfo", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            var responseData = JSON.parse(xhr.responseText);
            var name = responseData.username;
            var num_plus_name = responseData.backnumber + ' ' + responseData.username;
            // 이미지 요소 가져오기
            var playerImage = document.querySelector('.player-stat-profile');

            // 받은 이미지 URL을 이미지 요소의 src 속성에 설정
            playerImage.src = responseData.profileImage;
            var modalLabel = document.getElementById('exampleModalLabel');

            // 서버에서 전달된 stats 데이터에서 stat1 값을 가져와 input 요소에 설정
            const stats = responseData.stats;
            if (stats.length > 0) {

              for (let i = 1; i <= 18; i++) {
                document.getElementById('stat' + i).value = stats[0]['stat' + i];
              }

            }
            else {
              for (let i = 1; i <= 18; i++) {
                document.getElementById('stat' + i).value = '';
              }
            }

            // 서버에서 전달된 stats_result 데이터에서 각 각에 맞는 데이터를 설정
            const statsResult = responseData.statsResult;
            if (statsResult.length > 0) {
              for (let i = 1; i <= 18; i++) {
                document.getElementById('statsResult' + i).textContent = '0' + statsResult[0]['avg_stat' + i];
              }
            }

            //chr
            if (statsResult[0].chr.length > 0) {
              for (let i = 1; i <= 4; i++) {
                document.getElementById('stat-chr' + i).src = statsResult[0].chr[(i-1)];
              }
            }

            //deffense
            if (statsResult.length > 0) {
              if (statsResult[0].deffense_avg == '1') {
                document.getElementById('deffense_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE/DEFENSE%2001.png?updatedAt=1718433587954'
              }
              if (statsResult[0].deffense_avg == '2') {
                document.getElementById('deffense_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE/DEFENSE%2002.png?updatedAt=1718433588068'
              }
              if (statsResult[0].deffense_avg == '3') {
                document.getElementById('deffense_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE/DEFENSE%2003.png?updatedAt=1718433588008'
              }
              if (statsResult[0].deffense_avg == '4') {
                document.getElementById('deffense_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE/DEFENSE%2004.png?updatedAt=1718433588004'
              }
              if (statsResult[0].deffense_avg == '5') {
                document.getElementById('deffense_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE/DEFENSE%2005.png?updatedAt=1718433588073'
              }
              if (statsResult[0].deffense_avg == '6') {
                document.getElementById('deffense_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE/DEFENSE%2006.png?updatedAt=1718433588007'
              }
              if (statsResult[0].deffense_avg == '7') {
                document.getElementById('deffense_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE/DEFENSE%2007.png?updatedAt=1718433588004'
              }
              if (statsResult[0].deffense_avg == '8') {
                document.getElementById('deffense_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE/DEFENSE%2008.png?updatedAt=1718433587971'
              }
              if (statsResult[0].deffense_avg == '9') {
                document.getElementById('deffense_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE/DEFENSE%2009.png?updatedAt=1718433587962'
              }
            }

            //dribble
            if (statsResult.length > 0) {
              if (statsResult[0].dribble_avg == '1') {
                document.getElementById('dribble_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE/DRIBBLE%2001.png?updatedAt=1718434759244'
              }
              if (statsResult[0].dribble_avg == '2') {
                document.getElementById('dribble_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE/DRIBBLE%2002.png?updatedAt=1718434759359'
              }
              if (statsResult[0].dribble_avg == '3') {
                document.getElementById('dribble_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE/DRIBBLE%2003.png?updatedAt=1718434759319'
              }
              if (statsResult[0].dribble_avg == '4') {
                document.getElementById('dribble_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE/DRIBBLE%2004.png?updatedAt=1718434759315'
              }
              if (statsResult[0].dribble_avg == '5') {
                document.getElementById('dribble_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE/DRIBBLE%2005.png?updatedAt=1718434759258'
              }
              if (statsResult[0].dribble_avg == '6') {
                document.getElementById('dribble_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE/DRIBBLE%2006.png?updatedAt=1718434759361'
              }
              if (statsResult[0].dribble_avg == '7') {
                document.getElementById('dribble_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE/DRIBBLE%2007.png?updatedAt=1718434759318'
              }
              if (statsResult[0].dribble_avg == '8') {
                document.getElementById('dribble_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE/DRIBBLE%2008.png?updatedAt=1718434759256'
              }
              if (statsResult[0].dribble_avg == '9') {
                document.getElementById('dribble_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE/DRIBBLE%2009.png?updatedAt=1718434759312'
              }
            }

            //intelligence
            if (statsResult.length > 0) {
              if (statsResult[0].intelligence_avg == '1') {
                document.getElementById('intelligence_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE/INTELLIGENCE%2001.png?updatedAt=1718435194983'
              }
              if (statsResult[0].intelligence_avg == '2') {
                document.getElementById('intelligence_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE/INTELLIGENCE%2002.png?updatedAt=1718435195083'
              }
              if (statsResult[0].intelligence_avg == '3') {
                document.getElementById('intelligence_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE/INTELLIGENCE%2003.png?updatedAt=1718435195043'
              }
              if (statsResult[0].intelligence_avg == '4') {
                document.getElementById('intelligence_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE/INTELLIGENCE%2004.png?updatedAt=1718435195080'
              }
              if (statsResult[0].intelligence_avg == '5') {
                document.getElementById('intelligence_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE/INTELLIGENCE%2005.png?updatedAt=1718435195047'
              }
              if (statsResult[0].intelligence_avg == '6') {
                document.getElementById('intelligence_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE/INTELLIGENCE%2006.png?updatedAt=1718435195058'
              }
              if (statsResult[0].intelligence_avg == '7') {
                document.getElementById('intelligence_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE/INTELLIGENCE%2007.png?updatedAt=1718435195012'
              }
              if (statsResult[0].intelligence_avg == '8') {
                document.getElementById('intelligence_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE/INTELLIGENCE%2008.png?updatedAt=1718435195061'
              }
              if (statsResult[0].intelligence_avg == '9') {
                document.getElementById('intelligence_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE/INTELLIGENCE%2009.png?updatedAt=1718435195071'
              }
            }

            //kick
            if (statsResult.length > 0) {
              if (statsResult[0].kick_avg == '1') {
                document.getElementById('kick_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK/KICK%2001.png?updatedAt=1718433138463'
              }
              if (statsResult[0].kick_avg == '2') {
                document.getElementById('kick_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK/KICK%2002.png?updatedAt=1718433138598'
              }
              if (statsResult[0].kick_avg == '3') {
                document.getElementById('kick_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK/KICK%2003.png?updatedAt=1718433138507'
              }
              if (statsResult[0].kick_avg == '4') {
                document.getElementById('kick_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK/KICK%2004.png?updatedAt=1718433138502'
              }
              if (statsResult[0].kick_avg == '5') {
                document.getElementById('kick_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK/KICK%2005.png?updatedAt=1718433138577'
              }
              if (statsResult[0].kick_avg == '6') {
                document.getElementById('kick_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK/KICK%2006.png?updatedAt=1718433138515'
              }
              if (statsResult[0].kick_avg == '7') {
                document.getElementById('kick_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK/KICK%2007.png?updatedAt=1718433138520'
              }
              if (statsResult[0].kick_avg == '8') {
                document.getElementById('kick_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK/KICK%2008.png?updatedAt=1718433138594'
              }
              if (statsResult[0].kick_avg == '9') {
                document.getElementById('kick_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK/KICK%2009.png?updatedAt=1718433138480'
              }
            }

            //physical
            if (statsResult.length > 0) {
              if (statsResult[0].physical_avg == '1') {
                document.getElementById('physical_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL/PHYSICAL%2001.png?updatedAt=1718435426452'
              }
              if (statsResult[0].physical_avg == '2') {
                document.getElementById('physical_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL/PHYSICAL%2002.png?updatedAt=1718435426551'
              }
              if (statsResult[0].physical_avg == '3') {
                document.getElementById('physical_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL/PHYSICAL%2003.png?updatedAt=1718435426589'
              }
              if (statsResult[0].physical_avg == '4') {
                document.getElementById('physical_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL/PHYSICAL%2004.png?updatedAt=1718435426531'
              }
              if (statsResult[0].physical_avg == '5') {
                document.getElementById('physical_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL/PHYSICAL%2005.png?updatedAt=1718435426823'
              }
              if (statsResult[0].physical_avg == '6') {
                document.getElementById('physical_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL/PHYSICAL%2006.png?updatedAt=1718435426782'
              }
              if (statsResult[0].physical_avg == '7') {
                document.getElementById('physical_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL/PHYSICAL%2007.png?updatedAt=1718435426860'
              }
              if (statsResult[0].physical_avg == '8') {
                document.getElementById('physical_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL/PHYSICAL%2008.png?updatedAt=1718435426887'
              }
              if (statsResult[0].physical_avg == '9') {
                document.getElementById('physical_avg_img').src = 'https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL/PHYSICAL%2009.png?updatedAt=1718435426484'
              }
            }

          

          <% if (typeof 유저 !== 'undefined') { %>
            var 유저 = '<%=유저.username%>'
                <%}%>

            if (typeof 유저 !== 'undefined') {
              if (name === 유저) {
                modalLabel.innerHTML = num_plus_name;
              } else {
                modalLabel.innerHTML = num_plus_name + ' <span onclick="handleStatAllocation()" class="introduce-stat-inputstatbt">스탯부여하기</span><span onclick="handleCancelAllocation()" class="introduce-stat-canclebt">취소하기</span>';
              }
            } else {
              modalLabel.innerHTML = num_plus_name;
            }



          } else {
            console.error("서버 요청 중 오류 발생:", xhr.status);
          }
        }
      };
      xhr.send(JSON.stringify({ playerInfo: playerInfo }));
    }

    function SaveStat() {
      var stat1 = parseInt(document.getElementById("stat1").value);
      var stat2 = parseInt(document.getElementById("stat2").value);
      var stat3 = parseInt(document.getElementById("stat3").value);
      var stat4 = parseInt(document.getElementById("stat4").value);
      var stat5 = parseInt(document.getElementById("stat5").value);
      var stat6 = parseInt(document.getElementById("stat6").value);
      var stat7 = parseInt(document.getElementById("stat7").value);
      var stat8 = parseInt(document.getElementById("stat8").value);
      var stat9 = parseInt(document.getElementById("stat9").value);
      var stat10 = parseInt(document.getElementById("stat10").value);
      var stat11 = parseInt(document.getElementById("stat11").value);
      var stat12 = parseInt(document.getElementById("stat12").value);
      var stat13 = parseInt(document.getElementById("stat13").value);
      var stat14 = parseInt(document.getElementById("stat14").value);
      var stat15 = parseInt(document.getElementById("stat15").value);
      var stat16 = parseInt(document.getElementById("stat16").value);
      var stat17 = parseInt(document.getElementById("stat17").value);
      var stat18 = parseInt(document.getElementById("stat18").value);

      // stat 변수들을 배열에 넣어 일괄 검사
      var stats = [stat1, stat2, stat3, stat4, stat5, stat6, stat7, stat8, stat9, stat10, stat11, stat12, stat13, stat14, stat15, stat16, stat17, stat18];

      // 모든 stat 값이 0초과 10이하의 정수인지 검사
      var isValid = stats.every(function (stat) {
        return Number.isInteger(stat) && stat > 0 && stat <= 10;
      });

      if (isValid) {
        location.href = `/savestat?stat1=${encodeURIComponent(stat1)}&stat2=${encodeURIComponent(stat2)}&stat3=${encodeURIComponent(stat3)}&stat4=${encodeURIComponent(stat4)}&stat5=${encodeURIComponent(stat5)}&stat6=${encodeURIComponent(stat6)}&stat7=${encodeURIComponent(stat7)}&stat8=${encodeURIComponent(stat8)}&stat9=${encodeURIComponent(stat9)}&stat10=${encodeURIComponent(stat10)}&stat11=${encodeURIComponent(stat11)}&stat12=${encodeURIComponent(stat12)}&stat13=${encodeURIComponent(stat13)}&stat14=${encodeURIComponent(stat14)}&stat15=${encodeURIComponent(stat15)}&stat16=${encodeURIComponent(stat16)}&stat17=${encodeURIComponent(stat17)}&stat18=${encodeURIComponent(stat18)}`;

        alert("저장되었습니다.");
      } else {
        alert("올바른 값을 입력하세요. ( 0초과 10이하 )");
      }
    }


  </script>


</head>

<body>
  <%- include('nav.ejs') %>

    <div class="introduce-main">
      <div class="team-mission-position">
        <div class="team-mission-area">
          <img class="team-mission"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/1.%20%ED%8C%80%EB%AF%B8%EC%85%98.png?updatedAt=1702095593802"
            alt="팀문구">
        </div>
      </div>
      <div class="team-pic-area">
        <img class="team-pic"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/2.%20%EB%8B%A8%EC%B2%B4%EC%82%AC%EC%A7%84%20%ED%88%AC%EB%AA%85.png?updatedAt=1702095611742"
          alt="팀문구">
      </div>

      <div class="player-profile-name">
        <img src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/FIXO.png?updatedAt=1702387179359" alt="FIXO">
      </div>
      <div>
        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%84%9D%EB%B2%94%EC%88%98_1.png?updatedAt=1705229644663"
          alt="5석범수" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="tjrqjatn97">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EB%85%B8%EC%9A%A9%EC%A4%80_1.png?updatedAt=1705228825011"
          alt="7노용준" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="saaq45">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%ED%95%9C%EB%8C%80%EA%B7%9C_1.png?updatedAt=1707829275463"
          alt="33한대규" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="bigstarhan33">
      </div>

      <div class="player-profile-name">
        <img src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/ALA.png?updatedAt=1702387180038" alt="ALA">
      </div>
      <div>
        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/KakaoTalk_20240611_002314862_03.png?updatedAt=1718033305916"
          alt="2오연택" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="oyt001">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%96%91%EC%B2%A0%EC%A7%84_1.png?updatedAt=1705228824707"
          alt="4양철진" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="cjfwls34">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%9E%A5%ED%9D%AC%EC%8A%B9_1.png?updatedAt=1705229644930"
          alt="6장희승" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="qkrwjd24568">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EA%B9%80%EC%A0%95%ED%9B%88_1.png?updatedAt=1705228824733"
          alt="10김정훈" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="rere4581">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/KakaoTalk_20240507_175656083.png?updatedAt=1715401219116"
          alt="11민대식" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="als123eotlr">

          <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/KakaoTalk_20241108_141210791.png?updatedAt=1734400666814"
          alt="13송시창" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="sst266">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%9D%B4%EC%B0%AC%EC%9B%85_1.png?updatedAt=1707829274664"
          alt="14이찬웅" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="chw7244">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EB%82%98%ED%98%84%EC%88%98_1.png?updatedAt=1705228825019"
          alt="23나현수" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="hsn972">
      </div>


      <div class="player-profile-name">
        <img src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/PIVO.png?updatedAt=1702387180104" alt="PIVO">
      </div>
      <div>
        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/KakaoTalk_20240507_175656083_01.png?updatedAt=1715401218955"
          alt="1박승룡" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="박승룡">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%95%88%ED%83%9C%ED%9B%88_1.png?updatedAt=1705228825138"
          alt="9안태훈" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="taehoon9908">

        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/KakaoTalk_20240611_002314862_04.png?updatedAt=1718033306183"
          alt="96유성진" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="yusjin96">
      </div>

      <div class="player-profile-name">
        <img src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/GOLEIRO.png?updatedAt=1702387179990"
          alt="GOLEIRO">
      </div>
      <div>
        <img onclick="sendPlayerInfo(this.dataset.playerInfo)" class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/KakaoTalk_20240611_002314862_05.png?updatedAt=1718033305850"
          alt="99황덕현" data-bs-toggle="modal" data-bs-target="#Modal" data-player-info="ks9071">
      </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      style="color: black;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title fs-5" id="exampleModalLabel">33 한대규 <span onclick="handleStatAllocation()"
                class="introduce-stat-inputstatbt">스탯부여하기</span><span onclick="handleCancelAllocation()"
                class="introduce-stat-canclebt">취소하기</span>
            </div>
            <button onclick="handleCancelAllocation()" type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div style="overflow: hidden;" class="modal-body">
            <div style="float: left; width: 40%; height: 55%;">
              <img class="player-stat-profile"
                src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%98%A4%EC%97%B0%ED%83%9D_1.png?updatedAt=1705228822215"
                alt="33한대규">
            </div>
            <div style="float: left; width: 60%; height: 55%; padding-bottom: 30px;">

              <div style="float: left; width: 25%; height: 30%;"><img id="stat-chr1" style="width: 85%;"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/none.png?updatedAt=1718208375239"
                  alt="none"></div>
              <div style="float: left; width: 25%; height: 30%;"><img id="stat-chr2" style="width: 85%;"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/none.png?updatedAt=1718208375239"
                  alt="none"></div>
              <div style="float: left; width: 25%; height: 30%;"><img id="stat-chr3" style="width: 85%;"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/none.png?updatedAt=1718208375239"
                  alt="none"></div>
              <div style="float: left; width: 25%; height: 30%;"><img id="stat-chr4" style="width: 85%;"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%ED%8A%B9%EC%84%B1/none.png?updatedAt=1718208375239"
                  alt="none"></div>



              <div style="float: left; width: 50%; height: 35%;"><img id="kick_avg_img"
                  style="width: 56%; margin-left: 33%;"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/KICK%2000.png?updatedAt=1718208201937"
                  alt="kick00"></div>
              <div style="float: left; width: 50%; height: 35%;"><img id="physical_avg_img" style="width: 56%;"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/PHYSICAL%2000.png?updatedAt=1718208201887"
                  alt="physical00"></div>


              <div style="float: left; width: 33%; height: 35%;"><img id="dribble_avg_img" style="width: 85%;"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DRIBBLE%2000.png?updatedAt=1718208201854"
                  alt="dribble00"></div>
              <div style="float: left; width: 34%; height: 35%;"><img id="intelligence_avg_img" style="width: 85%;"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/INTELLIGENCE%2000.png?updatedAt=1718208201885"
                  alt="intelligence00"></div>
              <div style="float: left; width: 33%; height: 35%;"><img id="deffense_avg_img" style="width: 85%;"
                  src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/average/DEFENSE%2000.png?updatedAt=1718208201881"
                  alt="defense00"></div>

            </div>
            <% if (typeof stats !=='undefined' ) { %>
              <%=stats%>
                <%}%>
                  <div>
                    <div class="introduce-stat-line"></div>
                    <div class="introduce-stat-maintitle">
                      <img
                        src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/ON%20THE%20BALL%2020.png?updatedAt=1717413419629"
                        alt="온더볼">
                    </div>
                    <div class="introduce-stat-maintitle">
                      <img
                        src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/OFF%20THE%20BALL%2020.png?updatedAt=1717413419696"
                        alt="오프더볼">
                    </div>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="padding-left: 1%;" class="introduce-stat-subtitle" scope="col" colspan="2">킥</th>
                        <th style="padding-left: 1%;" class="introduce-stat-subtitle" scope="col" colspan="2">피지컬</th>
                      </tr>

                    </thead>
                    <tbody>
                      <tr>
                        <td class="introduce-stat-category">킥파워</td>
                        <td>
                          <div id="statsResult1" class="introduce-stat-num">00</div>
                          <input id="stat1" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                        <td class="introduce-stat-category">밸런스</td>
                        <td>
                          <div id="statsResult2" class="introduce-stat-num">00</div>
                          <input id="stat2" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                      <tr>
                        <td class="introduce-stat-smallfont2">킥정확도</td>
                        <td>
                          <div id="statsResult3" class="introduce-stat-num">00</div>
                          <input id="stat3" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                        <td class="introduce-stat-category">체력</td>
                        <td>
                          <div id="statsResult4" class="introduce-stat-num">00</div>
                          <input id="stat4" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                      <tr>
                        <td class="introduce-stat-category">원터치</td>
                        <td>
                          <div id="statsResult5" class="introduce-stat-num">00</div>
                          <input id="stat5" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                        <td>속도</td>
                        <td>
                          <div id="statsResult6" class="introduce-stat-num">00</div>
                          <input id="stat6" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td class="introduce-stat-category">민첩성</td>
                        <td>
                          <div id="statsResult7" class="introduce-stat-num">00</div>
                          <input id="stat7" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr>
                        <th style="padding-left: 1%;" class="introduce-stat-subtitle" scope="col" colspan="2">드리블</th>
                        <th style="padding-left: 1%;" class="introduce-stat-subtitle" scope="col" colspan="2">지능</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="introduce-stat-category">돌파력</td>
                        <td>
                          <div id="statsResult8" class="introduce-stat-num">00</div>
                          <input id="stat8" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                        <td class="introduce-stat-category">시야</td>
                        <td>
                          <div id="statsResult9" class="introduce-stat-num">00</div>
                          <input id="stat9" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                      <tr>
                        <td class="introduce-stat-smallfont">드리블속도</td>
                        <td>
                          <div id="statsResult10" class="introduce-stat-num">00</div>
                          <input id="stat10" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                        <td class="introduce-stat-smallfont2">위치선정</td>
                        <td>
                          <div id="statsResult11" class="introduce-stat-num">00</div>
                          <input id="stat11" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                      <tr>
                        <td class="introduce-stat-category">컨트롤</td>
                        <td>
                          <div id="statsResult12" class="introduce-stat-num">00</div>
                          <input id="stat12" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                        <td class="introduce-stat-category">판단력</td>
                        <td>
                          <div id="statsResult13" class="introduce-stat-num">00</div>
                          <input id="stat13" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                      <tr>
                        <td class="introduce-stat-category">볼키핑</td>
                        <td>
                          <div id="statsResult14" class="introduce-stat-num">00</div>
                          <input id="stat14" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                        <td class="introduce-stat-category">적극성</td>
                        <td>
                          <div id="statsResult15" class="introduce-stat-num">00</div>
                          <input id="stat15" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                    </tbody>

                    <tbody>
                      <tr>
                        <td rowspan="4" colspan="2">
                          <img style="margin-top: 40px;" class="introduce-stat-logo"
                            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%EC%98%A4%EB%8A%98%EB%8F%84%20%EA%B3%A8%EB%8C%80%20%ED%88%AC%EB%AA%85%EB%8F%84%20%EB%A7%88%ED%81%AC.png?updatedAt=1717504141627"
                            alt="logotrans">
                        </td>
                        <td style="font-size: 27px; font-weight: 800;" colspan="2">수비</td>
                      </tr>
                      <tr>
                        <td class="introduce-stat-smallfont2">대인방어</td>
                        <td>
                          <div id="statsResult16" class="introduce-stat-num">00</div>
                          <input id="stat16" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                      <tr>
                        <td class="introduce-stat-category">커버력</td>
                        <td>
                          <div id="statsResult17" class="introduce-stat-num">00</div>
                          <input id="stat17" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                      <tr>
                        <td class="introduce-stat-category">태클</td>
                        <td>
                          <div id="statsResult18" class="introduce-stat-num">00</div>
                          <input id="stat18" class="introduce-stat-inputarea" type="text" placeholder="0">
                        </td>
                      </tr>
                    </tbody>
                  </table>

          </div>
          <div class="modal-footer">
            <button id="stat_saveButton" onclick="SaveStat()" class="introduce-stat-savebt">저장</button>
          </div>
        </div>
      </div>
    </div>

</body>

</html>