<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light only" />
  <meta name="supported-color-schemes" content="light" />
  <title>오늘도골대FC</title>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- jQuery 로드 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/2QO/B6HFMFnJL2ZL1aAbAL8BnALyXQFZyI5lZ+"
    crossorigin="anonymous"></script>

  <link href="/main.css" rel="stylesheet">
  <link href="/introduce.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">
  <script src="/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


</head>

<body>
  <%- include('nav.ejs') %>

    <div class="introduce-main">
      <div class="team-mission-position">
        <div class="team-mission-area">
          <img class="team-mission"
            src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/1.%20%ED%8C%80%EB%AF%B8%EC%85%98.png?updatedAt=1702095593802"
            alt="팀문구">
        </div>
      </div>
      <div class="team-pic-area">
        <img class="team-pic"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/2.%20%EB%8B%A8%EC%B2%B4%EC%82%AC%EC%A7%84%20%ED%88%AC%EB%AA%85.png?updatedAt=1702095611742"
          alt="팀문구">
      </div>

      <div class="player-profile-name">
        <img src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/FIXO.png?updatedAt=1702387179359" alt="FIXO">
      </div>
      <div>
        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%84%9D%EB%B2%94%EC%88%98_1.png?updatedAt=1705229644663"
          alt="5석범수">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EB%85%B8%EC%9A%A9%EC%A4%80_1.png?updatedAt=1705228825011"
          alt="7노용준">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%ED%95%9C%EB%8C%80%EA%B7%9C_1.png?updatedAt=1707829275463"
          alt="33한대규" data-bs-toggle="modal" data-bs-target="#Modal33">
        <!-- Modal -->
        <div class="modal fade" id="Modal33" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          style="color: black;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">33 한대규</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div style="overflow: hidden;" class="modal-body">
                <!-- <div>
                  <img class="player-profile"
                    src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%ED%95%9C%EB%8C%80%EA%B7%9C_1.png?updatedAt=1707829275463"
                    alt="33한대규">
                </div> -->
                <div style="float: left; width: 40%; height: 55%; background-color: white;">
                  <img class="player-stat-profile"
                    src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%ED%95%9C%EB%8C%80%EA%B7%9C_1.png?updatedAt=1707829275463"
                    alt="33한대규">
                </div>
                <div style="float: left; width: 60%; height: 55%; background-color: white; padding-bottom: 30px;">

                  <div style="float: left; width: 25%; height: 30%; background-color: white;"><img style="width: 85%;"
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%EC%84%A0%ED%98%B8%20%ED%8F%AC%EC%A7%80%EC%85%98%20%EA%B3%A0%EC%A7%91%20%EC%88%98%EC%A0%953.png?updatedAt=1717414395664"
                      alt="33한대규"></div>
                  <div style="float: left; width: 25%; height: 30%; background-color: white;"><img style="width: 85%;"
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%EC%84%A0%ED%98%B8%20%ED%8F%AC%EC%A7%80%EC%85%98%20%EA%B3%A0%EC%A7%91%20%EC%88%98%EC%A0%953.png?updatedAt=1717414395664"
                      alt="33한대규"></div>
                  <div style="float: left; width: 25%; height: 30%; background-color: white;"><img style="width: 85%;"
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%EC%84%A0%ED%98%B8%20%ED%8F%AC%EC%A7%80%EC%85%98%20%EA%B3%A0%EC%A7%91%20%EC%88%98%EC%A0%953.png?updatedAt=1717414395664"
                      alt="33한대규"></div>
                  <div style="float: left; width: 25%; height: 30%; background-color: white;"><img style="width: 85%;"
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%EC%84%A0%ED%98%B8%20%ED%8F%AC%EC%A7%80%EC%85%98%20%EA%B3%A0%EC%A7%91%20%EC%88%98%EC%A0%953.png?updatedAt=1717414395664"
                      alt="33한대규"></div>



                  <div style="width: 100%; background-color: white;"> </div>
                  <div style="float: left; width: 50%; height: 35%; background-color: white;"><img
                      style="width: 56%; margin-left: 33%;"
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/INTELLIGENCE%2001%20%EC%A0%95%EC%82%AC%EA%B0%81%ED%98%95.png?updatedAt=1717412232980"
                      alt="33한대규"></div>
                  <div style="float: left; width: 50%; height: 35%; background-color: white;"><img style="width: 56%;"
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/INTELLIGENCE%2001%20%EC%A0%95%EC%82%AC%EA%B0%81%ED%98%95.png?updatedAt=1717412232980"
                      alt="33한대규"></div>


                  <div style="float: left; width: 33%; height: 35%; background-color: white;"><img style="width: 85%;"
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/INTELLIGENCE%2001_2.png?updatedAt=1717411935013"
                      alt="33한대규"></div>
                  <div style="float: left; width: 34%; height: 35%; background-color: white;"><img style="width: 85%;"
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/INTELLIGENCE%2001_2.png?updatedAt=1717411935013"
                      alt="33한대규"></div>
                  <div style="float: left; width: 33%; height: 35%; background-color: white;"><img style="width: 85%;"
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/INTELLIGENCE%2001_2.png?updatedAt=1717411935013"
                      alt="33한대규"></div>

                </div>


                <div>
                  <div class="introduce-stat-line"></div>
                  <div class="introduce-stat-maintitle">
                    <img
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/ON%20THE%20BALL%2020.png?updatedAt=1717413419629"
                      alt="">
                  </div>
                  <div class="introduce-stat-maintitle">
                    <img
                      src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/OFF%20THE%20BALL%2020.png?updatedAt=1717413419696"
                      alt="">
                  </div>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th style="padding-left: 1%;" class="introduce-stat-subtitle" scope="col" colspan="2">킥</th>
                      <th style="padding-left: 1%;" class="introduce-stat-subtitle" scope="col" colspan="2">신체능력</th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr>
                      <td>킥파워</td>
                      <td>06</td>
                      <td>밸런스</td>
                      <td>06</td>
                    </tr>
                    <tr>
                      <td class="introduce-stat-smallfont2">킥정확도</td>
                      <td>06</td>
                      <td>체력</td>
                      <td>06</td>
                    </tr>
                    <tr>
                      <td>원터치</td>
                      <td>06</td>
                      <td>속도</td>
                      <td>06</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>민첩성</td>
                      <td>06</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th style="padding-left: 1%;" class="introduce-stat-subtitle" scope="col" colspan="2">드리블</th>
                      <th style="padding-left: 1%;" class="introduce-stat-subtitle" scope="col" colspan="2">지능</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>돌파력</td>
                      <td>06</td>
                      <td>시야</td>
                      <td>06</td>
                    </tr>
                    <tr>
                      <td class="introduce-stat-smallfont">드리블속도</td>
                      <td>06</td>
                      <td class="introduce-stat-smallfont2">위치선정</td>
                      <td>06</td>
                    </tr>
                    <tr>
                      <td>컨트롤</td>
                      <td>06</td>
                      <td>판단력</td>
                      <td>06</td>
                    </tr>
                    <tr>
                      <td>볼키핑</td>
                      <td>06</td>
                      <td>적극성</td>
                      <td>06</td>
                    </tr>
                  </tbody>

                  <tbody>
                    <tr>
                      <td rowspan="4" colspan="2">
                        <img style="margin-top: 40px;" class="introduce-stat-logo"
                        src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/stat/%EC%98%A4%EB%8A%98%EB%8F%84%20%EA%B3%A8%EB%8C%80%20%ED%88%AC%EB%AA%85%EB%8F%84%20%EB%A7%88%ED%81%AC.png?updatedAt=1717504141627"
                        alt="logotrans">
                      </td>
                      <td style="font-size: 27px; font-weight: 800;" colspan="2">수비</td>
                    </tr>
                    <tr>
                      <td class="introduce-stat-smallfont2">대인방어</td>
                      <td>06</td>
                    </tr><tr>
                      <td>커버력</td>
                      <td>06</td>
                    </tr>
                    <tr>
                      <td>태클</td>
                      <td>06</td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="player-profile-name">
        <img src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/ALA.png?updatedAt=1702387180038" alt="ALA">
      </div>
      <div>
        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%98%A4%EC%97%B0%ED%83%9D_1.png?updatedAt=1705228822215"
          alt="2오연택">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%96%91%EC%B2%A0%EC%A7%84_1.png?updatedAt=1705228824707"
          alt="4양철진">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%9E%A5%ED%9D%AC%EC%8A%B9_1.png?updatedAt=1705229644930"
          alt="6장희승">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EA%B9%80%EC%A0%95%ED%9B%88_1.png?updatedAt=1705228824733"
          alt="10김정훈">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/KakaoTalk_20240507_175656083.png?updatedAt=1715401219116"
          alt="11민대식">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%9D%B4%EC%B0%AC%EC%9B%85_1.png?updatedAt=1707829274664"
          alt="14이찬웅">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EB%82%98%ED%98%84%EC%88%98_1.png?updatedAt=1705228825019"
          alt="23나현수">
      </div>


      <div class="player-profile-name">
        <img src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/PIVO.png?updatedAt=1702387180104" alt="PIVO">
      </div>
      <div>
        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/KakaoTalk_20240507_175656083_01.png?updatedAt=1715401218955"
          alt="1박승룡">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%95%88%ED%83%9C%ED%9B%88_1.png?updatedAt=1705228825138"
          alt="9안태훈">

        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%EC%9C%A0%EC%84%B1%EC%A7%84_1.png?updatedAt=1707658153905"
          alt="96유성진">
      </div>

      <div class="player-profile-name">
        <img src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/GOLEIRO.png?updatedAt=1702387179990"
          alt="GOLEIRO">
      </div>
      <div>
        <img class="player-profile"
          src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/introduce/%ED%99%A9%EB%8D%95%ED%98%84_1.png?updatedAt=1715491303805"
          alt="99황덕현">
      </div>


    </div>
</body>

</html>