<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>오늘도골대FC</title>
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link rel="icon" type="image/png" sizes="512x512"
    href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <link href="/management.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">
  <script src="/main.js"></script>
  <script>

    function showMVP() {
      var WeeklyMVPSelect = document.getElementById("WeeklyMVPSelect");
      var selectedMVP = WeeklyMVPSelect.options[WeeklyMVPSelect.selectedIndex].text
      var month = document.getElementById("mvp-date-month").value;
      var day = document.getElementById("mvp-date-day").value;


      switch (selectedMVP) {
        case '한대규':
          var selectedMVP = `<div style="color:red">${WeeklyMVPSelect.value}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/22222.png?updatedAt=1701677016990">
          </div>`
          break
        case '이찬웅':
          var selectedMVP = `<div style="color:red">${WeeklyMVPSelect.value}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/%EB%B3%B4%EC%8A%A4/%EA%B0%80%EC%97%94%EC%8A%AC.png?updatedAt=1691021040925">
          </div>`
          break
        case '양철진':
          var selectedMVP = `<div class="overlay-text">${month}.${day}</div>
            <div class="mvp-area"><img
                src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/Home/3.%20MVP.png?updatedAt=1702216958902">
            </div>`
          break
        case '권진백':
          var selectedMVP = `<div style="color:red">${WeeklyMVPSelect.value}</div><div class="mvp-area"><img
              src="https://ik.imagekit.io/wlalafg7g/%EB%B3%B4%EC%8A%A4/%ED%95%91%ED%81%AC%EB%B9%88.png?updatedAt=1691021040901">
          </div>`
          break
        default:
          break
      }


      location.href = `/mvp?val=${encodeURIComponent(selectedMVP)}&month=${encodeURIComponent(month)}&day=${encodeURIComponent(day)}`;
    }

    function navi_input() {
      var navi_address = document.getElementById('navi_address').value;
      location.href = '/navi?val=' + navi_address
      alert('저장되었습니다.')
    }

    function upload_match() {
      var month = document.getElementById("match-result-month").value;
      var day = document.getElementById("match-result-day").value;
      var time = document.getElementById("match-result-time").value;
      var place = document.getElementById("match-result-place").value;
      var homescore = document.getElementById("match-result-homescore").value;
      var awayscore = document.getElementById("match-result-awayscore").value;
      var awayname = document.getElementById("match-result-awayname").value;

      location.href = `/result?month=${encodeURIComponent(month)}&day=${encodeURIComponent(day)}&time=${encodeURIComponent(time)}&place=${encodeURIComponent(place)}&homescore=${encodeURIComponent(homescore)}&awayscore=${encodeURIComponent(awayscore)}&awayname=${encodeURIComponent(awayname)}`;
    }


  </script>
</head>

<body>
  <%- include('nav.ejs') %>
    <div class="notice-title">관리</div>
    <div class="white-main">
      <div>
        <h4>공지사항 작성</h4>
        <div style="height: 100px;"><a href="/management/notice-post">공지사항 작성하기</a></div>
      </div>
      <div>
        <h4>네비게이션</h4>
        <div style="height: 100px;">
          <input id="navi_address" style="width: 250px;" type="text" placeholder="주소">
          <button onclick="navi_input()">입력</button>
          <div>현재 저장된 주소 : <%=목적지.address%>
          </div>
        </div>
      </div>
      <div>
        <h4>이번 주 MVP</h4>
        <div style="height: 150px;">
          <input class="mvp-date" type="text" id="mvp-date-month">월
          <input class="mvp-date" type="text" id="mvp-date-day">일
          <div>
            <select class="form-select" id="WeeklyMVPSelect">
              <option value="한대규">한대규</option>
              <option value="이찬웅">이찬웅</option>
              <option value="양철진">양철진</option>
              <option value="권진백">권진백</option>
            </select>
            <button onclick="showMVP()">선정</button>
          </div>
        </div>
      </div>
      <div>
        <h4>경기결과</h4>
        <div style="height: 150px;">
          <div>          
            24년 
            <input type="text" id="match-result-month">월 
            <input type="text" id="match-result-day">일 
            <input type="text" id="match-result-time">시작시간
          </div>
          <div>
            장소 <input type="text" id="match-result-place">
          </div>
          <div>
            오늘도골대 
            <input type="text" id="match-result-homescore" placeholder="오늘도골대 점수"> : 
            <input type="text" id="match-result-awayscore" placeholder="상대팀 점수"> 
            <input type="text" id="match-result-awayname" placeholder="상대팀 명">
          </div>
          <div>
            <button onclick="upload_match()">등록</button>
          </div>
        </div>
      </div>
</body>

</html>