<div class="top-area-fixed">
<div class="flex-row top-area">
  <img class="top-area-logo" src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437"
    onclick="gotoHome()">
</div>
<nav class="side-menu">
  <div class="menu-bar" onclick="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="menu-bar-text">

  <ul>
    <img onclick="gotoHome()" src="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437" alt="logo">

    <% if (typeof 유저 !=='undefined' ) { %>
      <li><div class="nav-user-font">
          <%=유저%> 님
      </div></li>
      <% } else { %>
        <li><a class="nav-user-font" href="/login">로그인하기</a></li>
        <%}%>
          <li><a class="nav-menu-font" href="/introduce">팀소개</a></li>
          <li><a class="nav-menu-font" href="/photo">사진&영상</a></li>
          <li><a class="nav-menu-font" href="/match-result">경기결과</a></li>
          <li><a class="nav-menu-font" href="/notice/1">공지사항</a></li>
          <li><a class="nav-menu-font" href="/gamezone">승부차기</a></li>
          <% if (typeof 유저 !=='undefined' ) { %>
            <% if (유저 == '한대규'||유저 == '관리자') {%>
              <li><a class="nav-menu-font" href="/management">운영관리</a></li>
              <%}%>
              <li><a class="nav-menu-font" href="/logout">로그아웃</a></li>
            <% } %>
          
  </ul>
</div>
</nav>
</div>