<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘도골대FC</title>
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link rel="icon" type="image/png" sizes="512x512"
        href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
        rel="stylesheet">
    <script src="/main.js"></script>

</head>

<body>
    <%- include('nav.ejs') %>

        <div class="home-main">
            <div class="white-main">
                <form class="form-box" action="/register" method="POST">
                    <h4>회원가입</h4>
                    <div>
                        Name <input name="username">
                    </div>
                    <div>
                        ID <input name="userID">
                    </div>
                    <div>
                        PW <input name="password" type="password">
                    </div>
                    <button type="submit">가입</button>

                </form>
            </div>
        </div>
</body>

</html>