<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light only" />
    <meta name="supported-color-schemes" content="light" />
    <title>오늘도골대FC</title>
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link rel="icon" type="image/png" sizes="512x512"
        href="https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo.png?updatedAt=1700484789437">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet">
    <link href="/story.css" rel="stylesheet">
    <link href="/story-video.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@200;300;400;500;600&display=swap"
        rel="stylesheet">
    <script src="/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script>
        function confirmDeleteVideo(event) {
            event.preventDefault();

            var commentId = event.target.getAttribute('data-video-id');
            var confirmDelete = confirm('글을 삭제하시겠습니까?');

            if (confirmDelete) {
                window.location.href = '/video-delete/' + commentId; // 혹은 fetch 등의 비동기 처리
            }
        }
    </script>


</head>

<body>
    <%- include('nav.ejs') %>

        <div class="story-main">
            <div class="story-bt-area">
                <div onclick="gotoPhoto()" class="story-change-photo-bt">PHOTO</div>
                <div onclick="gotoVideo()" class="story-change-video-bt">VIDEO</div>
            </div>

            <% for ( i=0; i<URL.length; i++) {%>
                <div class="story-photo-area">
                    <iframe src="https://www.youtube.com/embed/<%=URL[i].URL%>" frameborder="0"
                        allowfullscreen></iframe>
                        <% if (유저 == '관리자') {%>
                    <div><a style="color: white;" href="#" onclick="confirmDeleteVideo(event)" data-video-id="<%=URL[i]._id%>">삭제</a></div>
                            <%}%>
                </div>
                <%}%>



        </div>


</body>

</html>