.detail-bg {
  background: white;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
}

.detail-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.detail-img {
  align-items: center;

}

.detail-content {
  padding-top: 30px;
  font-size: 20px;
}