.gamezone-main {
    width: 800px;
    background-color: #002832;
    margin: 10% auto 0px auto;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.gamezone-area {
    display: none;
    width: 100%;
    height: 400px;
    background-color: white;
}

.gamezone-start-button {
    width: 70%;
    height: 70px;
    background-color: white;
    color: #002832;
    font-size: 170%;
    font-weight: 500;
    margin-bottom: 20px;
}

.gaolpost-area {
    position: relative;
    /* 위치를 relative로 설정 */
    background-color: white;
    height: 60%;
    padding-top: 35px;
}

.goalpost {
    width: 250px;
    height: 120px;
    border: 5px solid black;
    border-bottom: white;
    margin: 0px auto 0px auto;
    display: flex;
}

.goalpost-left {
    background-color: #eaeff1;
    width: 33%;
}

.goalpost-center {
    background-color: #eaeff1;
    width: 34%;
}

.goalpost-right {
    background-color: #eaeff1;
    width: 33%;
}

.gamezone-ball-area {
    width: 100px;
    height: 100px;
    margin: 0px auto 10px auto;
    background-color: white;

}

.gamezone-ball-area img {
    width: 100%;
    height: auto;
}

.shoot-way-bt-area {
    display: flex;
    height: 20%;
    text-align: center;
    justify-content: center;
    background-color: white;
}

.shoot-way-bt {
    width: 20%;
    height: 65%;
    background-color: #002832;
    color: white;
    font-size: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
    border: 1px transparent;
    border-radius: 8px;
    display: flex;
}

.shoot-way-bt:hover {
    background-color: #ff3ca0;
}

.gamezone-extrachance-area {
    background-color: white;
    color: black;
    font-weight: 500;
}

.gamezone-scorearea {
    padding-top: 0px;
    background-color: white;
    color: black;
    font-size: 400%;
    margin-bottom: 400px;
}

.selected {

    background-image: url('https://ik.imagekit.io/wlalafg7g/GoalPostAgain/game/%EA%B3%B5.png?updatedAt=1707713736048');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;

}

.keeper {
    background-image: url('https://ik.imagekit.io/wlalafg7g/GoalPostAgain/game/%EC%A0%95%EB%A9%B4.png?updatedAt=1707713731747');
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: 50% 2px;
    z-index: 0;
    /* 다른 요소 뒤에 나오도록 낮은 z-index 설정 */
}

.keeper-left {
    background-image: url('https://ik.imagekit.io/wlalafg7g/GoalPostAgain/game/%EC%98%A4%EB%A5%B8%EC%AA%BD.png?updatedAt=1707713731567');
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: 62% -22px;
    z-index: 2;

}

.keeper-right {
    background-image: url('https://ik.imagekit.io/wlalafg7g/GoalPostAgain/game/%EC%99%BC%EC%AA%BD.png?updatedAt=1707713732190');
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: 60% -17px;
    z-index: 2;

}

button[disabled] {
    opacity: 0.5;
    /* 비활성화된 상태의 투명도를 조절할 수 있습니다. */
    cursor: not-allowed;
    /* 비활성화된 상태에서 마우스 커서를 변경할 수 있습니다. */
}

@media only screen and (max-width: 1000px) {
    .gamezone-main {
        width: 98%;
    }
}

@media only screen and (max-width: 354px) {
    .shoot-way-bt {
        font-size: 80%;
    }


}