body {
  margin: 0;
  background-color: #002832;
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  color-scheme: light only;
}

i {
  color: white;
}

.top-area-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* 필요에 따라 조절할 수 있습니다. */
  background-color: #fff;
  /* 배경색을 원하는 색상으로 설정합니다. */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 그림자 효과를 추가할 수 있습니다. */
}




a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #002832;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-area {
  background-color: #ff3ca0;
  width: 100%;
  height: 100px;
  position: relative;
}

.top-area-logo {
  width: 150px;
  height: 120px;
  align-items: center;
  cursor: pointer;
  position: fixed;
}

.nav-myprofileBt {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

.menu-bar {
  position: fixed;
  top: 16px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
}

.menu-bar-text {
  font-weight: bold;
  font-size: 25px;
}


.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  /* 메뉴 영역을 왼쪽으로 숨김 */
  width: 300px;
  height: 100%;
  background-color: #ff3ca0;
  transition: left 0.3s ease;
  /* left 속성에 트랜지션 적용 */
  z-index: 100;
  background-image: url('https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo/%EC%83%81%EC%96%B4(opacity5_).png?updatedAt=1707219499837');
  background-repeat: no-repeat;
  background-position: -250px -100px;
}

.nav-menu-img {
  width: 30%;
  height: 28%;
  margin-left: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.side-menu ul {
  list-style: none;
  padding-top: 70px;
  padding-left: 0px;
}

.side-menu ul li {
  width: 250px;
  margin: 30px;
  /* border-bottom: 1px solid white; */
}


.nav-menu-font {
  text-decoration: none;
  color: white;
  font-size: 35px;
  display: block;
  margin-left: 5%;
  font-weight: 800;
}

.nav-login {
  width: 100%;
  height: 12%;
  background-color: #002832;
  top: 100%;
  color: white;
  font-size: 130%;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: sticky;
  cursor: pointer;
}

.nav-login-img-area {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 5%;
  cursor: pointer;
}

.nav-login-img {
  width: 5%;
  height: auto;
  cursor: pointer;
}

.home-main {
  width: 800px;
  height: 1700px;
  background-color: #002832;
  margin: 10% auto 0px auto
}

.white-main {
  width: 800px;
  height: 90%;
  background-color: white;
  margin: 0px auto 0px auto;
  border-radius: 8px;
}

.whole-white-main {
  width: 800px;
  height: 90%;
  background-color: white;
  margin: 0px auto 0px auto;
}

/* 이미지 스타일 */
img {
  max-width: 500px;
  /* 최대 너비 */
  max-height: 400px;
  /* 최대 높이 */
  width: auto;
  /* 자동으로 너비 조절 */
  height: auto;
  /* 자동으로 높이 조절 */
}




::-webkit-scrollbar {
  width: 2px;
  /* 스크롤바 너비 */
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  /* 스크롤바 색상 */
}

.notice-title {
  color: white;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}


@media only screen and (max-width: 1024px) {
.side-menu {

  left: -100%;
  /* 메뉴 영역을 왼쪽으로 숨김 */
  width: 100%;
  height: 100%;
  background-color: #ff3ca0;
  transition: left 0.3s ease;
  /* left 속성에 트랜지션 적용 */
  z-index: 100;
  background-image: url('https://ik.imagekit.io/wlalafg7g/GoalPostAgain/logo/%EC%83%81%EC%96%B4(opacity5_).png?updatedAt=1707219499837');
  background-repeat: no-repeat;
  background-position: -250px -100px;
}
}



@media only screen and (max-width: 500px) {

  /* 핸드폰 크기에 맞게 스타일을 조정합니다. */
  .home-main,
  .white-main {
    width: 100%;
    border-radius: 0px;
  }



  .top-area {
    background-color: #ff3ca0;
    width: 100%;
    height: 70px;
  }

  .top-area-logo {
    width: 72px;
    height: 54px;
    align-items: center;
    cursor: pointer;
  }

  .notice-title {
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }

  .white-bg {
    padding: 3px;
    margin: 3px;
  }

  /* 이미지 스타일을 조정합니다. */
  img {
    max-width: 100%;
    height: auto;
  }

  .detail-bg {
    padding: 5px;
    margin: 6px;
    border-radius: 2px;
  }

  .overlay-text {
    left: 35%;
  }


}

@media only screen and (min-width: 500px) and (max-width: 1000px) {

  .home-main,
  .white-main {
    width: 480px;
    border-radius: 0px;
  }
  .top-area-logo {
    width: 90px;
    height: auto;
    align-items: center;
    cursor: pointer;
  }
}