.management-title {
    padding-top: 130px;
}

.mvp-date {
    width: 50px;
}

.management-input {
    width: 50px;
    margin-bottom: 3px;
}

.management-input2 {
    width: 70px;
    margin-bottom: 3px;

}

.management-input3 {
    width: 200px;
    margin-bottom: 3px;

}

.management-mvpboard-num {
    width: 20px;
    margin-left: 10px;
}
