.match-result-main {
    width: 800px;
    height: 90%;
    background-color: white;
    margin: 0px auto 0px auto;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    top: -270px;
}

.match-result-lastmatch {
    width: 700px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    margin: 0px auto 0px auto;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.lastmatch-result-area {
    position: relative;
    transform: translate(0%, -10%);
}

.match-result-empty {
    height: 300px;
}

.match-result-line {
    width: 94%;
    height: 1px;
    background-color: black;
    margin: 0px auto 10px auto;
}

.match-result-scorebox {
    display: flex;
    align-items: center;
}

.lastmatch-result-scorebox {
    display: flex;
    align-items: center;
    position: relative;
    transform: translate(0%, -10%);
}

.match-result-info {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.lastmatch-result-info {
    text-align: center;
}

.match-result-scorebox-teamlogo1 {
    width: 80px;
    height: 64px;
}

.lastmatch-result-scorebox-teamlogo1 {
    width: 140px;
    height: 112px;
}

.match-result-scorebox-teamlogo2 {
    width: 64px;
    height: 64px;
}

.lastmatch-result-scorebox-teamlogo2 {
    width: 112px;
    height: 112px;
}

.match-result-teamarea1 {
    width: 40%;
    display: flex;
    justify-content: end;
    text-align: right;
}

.lastmatch-result-teamarea1 {
    width: 40%;
    text-align: center;
}

.match-result-teamarea2 {
    width: 40%;
    display: flex;
}

.lastmatch-result-teamarea2 {
    width: 40%;
    text-align: center;
}

.match-result-resultlogo {
    text-align: center;
}

.lastmatch-result-resultlogo {
    text-align: center;
    position: relative;
    width: 70px;
    height: 25px;
    transform: translate(800%, -165%);
}

.match-result-resultlogo img {
    width: 70px;
    height: 25px;
    margin-bottom: 10px;
}



.lastmatch-result-resultlogo img {
    width: 70px;
    height: 25px;
    margin-bottom: 10px;
}

.match-result-tooltip {
    position: relative;
    margin: auto;
    width: 20%;
}
.match-result-tooltip .match-result-tooltip-content {
    visibility: hidden;
    height: 80%;
    width: 50%;
    font-size: 100%;
    background-color: #ff3ca0;
    padding: 0;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 80%;
    right: 25%;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.match-result-tooltip:hover .match-result-tooltip-content { visibility: visible; opacity: 1 }


.match-result-score {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    width: 20%;
}

.lastmatch-result-score {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    width: 50%;
}

.match-result-teamfont {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0px 30px 0px 30px;

}

.lastmatch-result-teamfont {
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    align-items: center;

}



.match-result-lastmatch-font {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto 0px auto;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.lastmatch-result-time {
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -20px;
    left: 0px;

}

.match-result-delete {
    margin-right: 10px;
    font-size: 17px;
    text-align: right;
    position: relative;
    top: -15px;
}




@media only screen and (max-width: 1000px) {

    .match-result-lastmatch {
        width: 96%;
        height: 170px;
    }

    .match-result-empty {
        height: 170px;
    }

    .match-result-main {
        width: 100%;
        border-radius: 0px;
        top: -150px;
    }

    .match-result-info {
        font-size: 10px;
        padding-top: 2px;
    }

    .lastmatch-result-info {
        text-align: center;
        font-size: 70%;
        font-weight: 500;
        padding-top: 0px;
    }

    .lastmatch-result-scorebox {
        transform: translate(0%, -10%);
    }

    .match-result-scorebox-teamlogo1 {
        width: 40px;
        height: 32px;
    }

    .lastmatch-result-scorebox-teamlogo1 {
        width: 70px;
        height: 56px;
    }

    .match-result-scorebox-teamlogo2 {
        width: 32px;
        height: 32px;
    }

    .lastmatch-result-scorebox-teamlogo2 {
        width: 56px;
        height: 56px;
    }

    .match-result-teamfont {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 0px 7% 0px 7%;
    }

    .lastmatch-result-teamfont {
        font-size: 65%;
        font-weight: 400;
        padding-top: 10%;
        align-items: center;

    }


    .match-result-score {
        font-size: 125%;
        font-weight: bold;
        margin: 0px 3% 0px 3%;
    }

    .lastmatch-result-score {
        font-size: 240%;
        font-weight: bold;
        text-align: center;
        width: 50%;
    }

    .match-result-resultlogo img {
        width: 50%;
        height: 14px;
        margin: 0px auto 5px auto;

    }

    .lastmatch-result-resultlogo {
        text-align: center;
        position: relative;
        width: 10%;
        height: 10%;
        transform: translate(800%, -150%);
    }

    .lastmatch-result-resultlogo img {
        width: 100%;
        height: 80%;
        /* margin-bottom: 7px; */
    }

    .match-result-tooltip .match-result-tooltip-content {

        height: 60%;
        width: 50%;
        font-size: 60%;
        top: 90%;
        right: 25%;
    }

    .match-result-lastmatch-font {
        padding-top: 2%;
        font-size: 150%;
        font-weight: 800;
        position: relative;
    }

    .lastmatch-result-time {
        font-size: 70%;
        font-weight: 600;
        top: -15px;
        left: 0px;

    }

    .match-result-delete {
        margin-right: 5%;
        font-size: 55%;
        top: -20px;
    }


    @media only screen and (max-width: 340px) {
        .match-result-score {
            font-size: 120%;
        }
    }

    .lastmatch-result-score {
        font-size: 220%;
    }

    @media only screen and (max-width: 264px) {
        .match-result-tooltip .match-result-tooltip-content {

            height: 50%;
            width: 50%;
            font-size: 50%;
            top: 90%;
            right: 25%;
        }
    }
}