
.grey-bg {
  background: #eee;
}

.white-notice-title {
  background-color: white;
  width: 800px;
  margin: 0px auto 0px auto;
  padding-top: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #002832;

  
}
.white-notice-title-text {
  margin-left: 10px;
}
 
.notice-title-underline {
  width:95%;
  height: 2px;
  background-color: #002832;
  margin: 0px auto 0px auto;
}

.notice-title-text {
  color: #4c4c4c;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

.notice-userinfo {
  color: #8f8f8f;
  padding-left: 10px;
  margin-top: 15px;
}

/* .white-bg {
    background: white;
    margin: 20px;
    padding: 3px;
    border-radius: 5px;
  } */

.list-box {
  margin-left: 10px;
  padding: 5px;
  border-bottom: 1px solid#eee;
}

.list-box h4 {
  font-size: 16px;
  margin: 5px;
}


.list-box p {
  font-size: 13px;
  margin: 5px;
  color: grey;
}

.search-area {
  display: flex;
  margin-left: 10px;
  padding: 10px 3px 20px 0px;
}


.search {
  width: 300px;
  padding: 5px;
}

.search-send {
  margin-left: 3px;
  padding: 6px 10px;
  background: #002832;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  color: white;
}

.detail-bt-wholelist {
  margin-top: 5px;
  width: 10%;
  height: 35px;
  font-size: 14px;
  background-color: #002832;
  color: white;
  border: #002832;
  border-radius: 18px;
}

.notice-comment-title {
  width: 8%;
  margin-right: 5px;
}

.notice-comment-content {
  width: 80%;
}


@media only screen and (max-width: 1000px) {
  /* .search {
    width: 80%;
    padding: 5px;
  } */

  .whole-white-main {
    width: 100%;
    height: 100%;
  }

  .white-notice-title{
    width: 100%;
    font-size: 34px;
    border-bottom: 4px solid white;
  }

  .detail-bt-wholelist {
    margin-top: 5px;
    width: 25%;
    height: 35px;
    font-size: 14px;
    background-color: #002832;
    color: white;
    border: #002832;
    border-radius: 18px;
  }


  .comment-input {
    width: 80%;
    height: 60px;
  }

  .notice-comment-title {
    width: 20%;
    margin-right: 5px;
  }

  .notice-comment-content {
    width: 70%;
  }

  .image-container {
    text-align: center;
    /* 가로 가운데 정렬 */
    display: flex;
    justify-content: center;
    /* 세로 가운데 정렬 */
    align-items: center;
  }

  .search {
    width: 80%;
    padding: 5px;
  }

  .search-area {
    justify-content: center;
    padding-top: 0px;
  }

  .search-send {
    width: 17%;
    margin-left: 3px;
    padding: 6px 10px;
    background: #002832;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
  }

  .notice-title-text {
    color: #4c4c4c;
    font-weight: 600;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 18px;
  }

  .notice-userinfo {
    color: #8f8f8f;
    padding-left: 0%;
  }
}