button:hover {
  background-color: #ff3ca0;
}

.detail-bg {
  padding: 15px;
}

.detail-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
  color: #0c0c0c;
}

.detail-userinfo {
  color: #787878;
  padding-top: 20px;
  padding-bottom: 4px;
}

.detail-img {
  align-items: center;
  margin-bottom: 20px;
}

.detail-content {
  padding-top: 3%;
  padding-bottom: 10%;
  font-size: 18px;
  font-weight: 400;
  color: #002832;
}

.comment-input {
  width: 90%;
  height: 40px;
}

/* .comment-button {
  width: 80px;
  height: 40px;
  font-size: 14px;
  background-color: #002832;
  color: white;
  border: #002832;
  border-radius: 23px;
} */

.comment-button {
  width: 8%;
  height: 40px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: black;
  border-radius: 5px;
}

.detail-bt-list {
  margin-top: 5px;
  width: 80px;
  height: 30px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: black;
  border-radius: 18px;
}


@media only screen and (max-width: 1000px) {

  .detail-bt-list {
    margin-top: 5px;
    width: 23%;
    height: 30px;
    border-radius: 18px;
  }

  .whole-white-main {
    width: 100%;
    height: 100%;
    border-radius: 0px;

  }

  .detail-bg {
    padding: 15px;
    margin: 0px;
  }

  .detail-title {
    margin-top: 10%;
    margin-bottom: 10px;
  }

  .detail-userinfo {
    padding-top: 10%;
    padding-bottom: 2%;
  }
  .comment-input {
    width: 80%;
    height: 30px;
    margin-right: 1%;
  }

  .comment-button {
    width: 15%;
    height: 30px;
    font-size: 85%;
  }
}