.notice-title {
    color: white;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.grey-bg {
    background: #eee;
  }
  
  /* .white-bg {
    background: white;
    margin: 20px;
    padding: 3px;
    border-radius: 5px;
  } */
  
  .list-box {
    margin-left: 10px;
    padding: 5px;
    border-bottom: 1px solid#eee;
  }
  
  .list-box h4 {
    font-size: 16px;
    margin: 5px;
  }
  
  
  .list-box p {
    font-size: 13px;
    margin: 5px;
    color: grey;
  }
  /*              */

