p {
    margin-bottom: 2px;
}
/* 이미지 스타일 */
img {
    max-width: 100%;
    /* 최대 너비 */
    max-height: 350px;
    /* 최대 높이 */
    width: auto;
    /* 자동으로 너비 조절 */
    height: auto;
    /* 자동으로 높이 조절 */
}

.carousel {
    height: 350px;
}

.story-main {
    width: 500px;
    background-color: #002832;
    margin: 10% auto 0px auto;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.story-bt-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-photo-bt {
    width: 47%;
    height: 6vh;
    padding-top: 1vh;
    background-color: #ff3ca0;
    color: white;
    font-size: 130%;
    cursor: pointer;
}

.story-video-bt {
    width: 47%;
    height: 6vh;
    padding-top: 1vh;
    background-color: #02313d;
    color: white;
    font-size: 130%;
}

.story-photo-post {
    justify-content: right;
    font-size: 90%;
    width: 25%;
    margin-top: 10px;
    margin-left: 75%;
    padding-top: 3px;
}

.story-photo-post a {
    color: white;
}

.story-photo-info-area {
    display: flex;
    font-weight: 500;
}

.story-photo-info {
    display: flex;
    padding-bottom: 15px;
    width: 65%;
    font-size: 70%;
    margin-left: 2%;
}

.story-photo-edit {
    display: flex;
    text-align: right;
    justify-content: right;
    width: 35%;
    font-size: 70%;
    margin-right: 3%;
}



.carousel-img {
    margin: auto 0px auto 0px;

}

.story-photo-content {
    display: flex;
    align-items: baseline;
}

.story-photo-content-writer {
    width: 15%;
    margin-left: 3%;
    margin-top: 6px;
    font-size: 80%;
    font-weight: 600;
}

.story-photo-content-text {
    width: 70%;
    font-size: 80%;
    font-weight: 400;
}

.story-photo-add-comment {
    font-size: 70%;
    color: gray;
    margin-left: 3%;
    margin-bottom: 5px;
    cursor: pointer;
    width: 20%;
}

/* .story-photo-add-comment-input-area0 {
    display: none;
} */


.story-photo-add-comment-input-area {
    background-color: #f5f5f5;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 95%;
    margin: -1px auto 25px auto;
    border-radius: 5px;
    color: #656565;
}

.story-photo-add-comment-input {
    flex: 1;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 80%;
    padding: 2px;
}

.story-photo-add-comment-inputBt {
    margin-left: 1%;
    font-size: 80%;
    cursor: pointer;
    font-weight: 800;
    background-color: white;
    border: 1px transparent;
}

.story-photo-comment-writer {
    width: 15%;
    margin-left: 3%;
    margin-top: 2px;
    font-size: 80%;
    font-weight: 600;
}

.story-photo-comment-text {
    width: 70%;
    font-size: 80%;
    font-weight: 400;
}

.story-photo-comment-deleteBt {
    width: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}





@media only screen and (max-width: 1000px) {
    .story-main {
        width: 100%;
    }
}