.story-bt-area {
    margin-bottom: 10px;
}
.story-change-photo-bt {
    width: 47%;
    height: 6vh;
    background-color: #02313d;
    color: white;
    font-size: 130%;
    border: 0px solid transparent;

}

.story-change-video-bt {
    width: 47%;
    height: 6vh;
    background-color: #ff3ca0;
    color: white;
    font-size: 130%;
    border: 0px solid transparent;

}

.story-change-photo-bt:hover {
    background-color: #ff3ca0;
}

.story-photo-area {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}


.story-photo-area iframe {
    width: 94%;
    height: 200px;
}

.story-video-moreview {
    width: 100%;
}

.story-video-moreviewbt {
    padding: 15px 0px 15px 0px;
    cursor: pointer;
    font-size: 150%;
    color: rgb(214, 214, 214);
}




@media only screen and (max-width: 1000px) {

.story-photo-area iframe {
    width: 94%;
    height: 200px;
    
}

}