.story-change-photo-bt {
    width: 47%;
    height: 6vh;
    padding-top: 1vh;
    background-color: #002832;
    color: white;
    font-size: 130%;
    cursor: pointer;
}

.story-change-video-bt {
    width: 47%;
    height: 6vh;
    padding-top: 1vh;
    background-color: #ff3ca0;
    color: white;
    font-size: 130%;
    cursor: pointer;
}

.story-change-photo-bt:hover {
    background-color: #ff3ca0;
}