.story-main {
    width: 500px;
    background-color: #002832;
    margin: 0px auto 0px auto;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.story-bt-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 460px) {
    .story-main {
        width: 100%;
    }
}

@media only screen and (min-width: 461px) {
    .story-main {
        width: 460px;        
    }
}